.container{
    display: flex;
}
#form{
    display: flex;
    align-content: center;
    margin-top: 5%;
    padding-right: 0%;
    flex-direction: column;
    flex-wrap: wrap;
}
#text{
    display: flex;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-left: 10%;
}
.navbar{
    display: none !important;
    flex-wrap: none;
    align-items: center;
    justify-content: space-between;
}