<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Sign Up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="email-field">
              <input matInput id="email-input" placeholder="Enter email" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="phone-field">
              <input matInput id="phone-input" placeholder="Enter phone number" name="phone" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="name-field">
              <input matInput id="name-input" placeholder="Enter Full Name"  name="fullname" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field></td>
        </tr>
        <tr>
          <td><mat-form-field appearance="fill">
            <mat-label>Confirm your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field></td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>

    <button mat-raised-button  color="primary" class="signup" routerLink="/app-login-form">Sign Up</button>
  </mat-card-actions>
</mat-card>


