/* @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.container {
  display:flex;
  background-color: #3f51b5;
  color: white;
  font-family: 'Staatliches', cursivive;
  justify-content: center;
  padding-left:-50%;
  width: 100%;

  
}
img {
  max-width: 50px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
  float: left;
  color: white;
  -webkit-text-fill-color: white;
  /* position: fixed;
  top:0px;
  left:0px; 
  left:0px; 
  width: 100%; 
}

.logo-name {
  float: right;
  font-size: 25px;
  margin-left: -15px;
  margin-top: 10%;
  font-family: 'Staatliches', cursivive;
  color: white;
}
#tagline{
  align-content: center;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
#banner-text{
  align-content: center;
  text-align: center;
}
#banner-text .h1{
  font-size: 25px !important;
}
#hamburger{
  display: flex;
  align-items: center;
}
nav.navbar{
  background-color: #3f51b5;
  color: white;
  font-family: 'Staatliches', cursivive;
  display: flex;
  padding-top: 8%;
  padding-bottom: 3%;
}
.container[_ngcontent-bpa-c16]{
  display:none!important;
}
/*
