 /* @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); */
 *{
  clear:both;
  max-width: 100%;  
}
.container {
  background-color: #3f51b5;
  color: white;
  font-family: 'Staatliches', cursivive;
  width: 100%;
  padding-top: 7%;
  /* padding-bottom: 5%; */

  
}
img {
  max-width: 50px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
  float: left;
  color: white;
  -webkit-text-fill-color: white;
  /* position: fixed;
  top:0px;
  left:0px; 
  left:0px; 
  width: 100%;  */
}

.logo-name {
  float: right;
  font-size: 25px;
  margin-left: -15px;
  margin-top: 10%;
  font-family: 'Staatliches', cursivive;
  color: white;
}
#tagline{
  align-content: center;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
#banner-text{
  align-content: center;
  text-align: center;
}
#banner-text, .h1{
  clear: both;
  font-size: xx-large !important;
}
#hamburger{
  display: flex;
  flex-wrap: wrap;
  clear: both;
  width: 45px;
  height: 45px;
  align-items:baseline;
  top:10px;

}
.col-2 #hamburger{

}
#menubox{
  float: right;
  padding-right: 10%;
  align-content:space-around;
  display: grid;
}
#nav{
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  align-content: center;
  margin-right: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 15%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bottom{
  padding-bottom: 1%;
}

