<div id="details">
<h3 id="accounttypes">CHECKING/SAVINGS</h3> <h3 id="customername">WELCOME, [Customer Name]</h3>
<table id="accountstable" style="width:50%">

    <tr>
      <td id="checkingname">Checking: [nickname] </td>
      <td id="checkingtotal">Total: [total in checking]</td> 
    </tr>

    <tr id="savingsrow">
        <td id="savingsname">Savings: [nickname] </td>
        <td id="savingstotal">Total: [total in savings]</td> 
    </tr>

    <tr id="totalrow">
        <td id="total">TOTAL</td>
        <td id="totaloverall">Total Overall: [total of all accounts]</td> 
    </tr>
    
  </table>
<div>
    <button id="createaccountbutton" mat-raised-button color="primary">CREATE NEW ACCOUNT</button>
</div>
</div> 
